.ctech-btn-next-page {
  padding: 10px;
  border-radius: 4px;
  color: var(--ctech-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1px solid var(--ctech-color-btn-primary);
  background-color: var(--ctech-color-btn-inverse);
}
