@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /*Variaveis CSS - Nome da loja: ctech - bg: background - btn: buttom */
  --ctech-color-bg-primary: #e8e8e8;
  --ctech-color-bg-secondary: #ffe500;
  --ctech-color-bg-tertiary: #636363;
  --ctech-color-bg-quaternary: #0caf1d;

  --ctech-color-card-bg: #fff;
  --ctech-color-card-border: #d9d9d9;

  --ctech-color-btn-primary: #3483fa;
  --ctech-color-btn-inverse: #fff;

  --ctech-color-font-primary: #636363;
  --ctech-color-font-secondary: #0caf1d;
  --ctech-color-font-tertiary: #fff;
  --ctech-color-font-placeholder: #d9d9d9d9;

  --ctech-color-error: #f33;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  /* background-color: var(--ctech-color-bg-primary); */
  background-color: darkslategrey;
}
main {
  padding: 0 20px;
}

/* ================================================================ */
/*                      Generic/Global Styles                       */
.ctech-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.ctech-mb20 {
  margin-bottom: 20px;
}
.ctech-mt20 {
  margin-top: 20px;
}
.ctech-section-title {
  text-align: center;
  color: var(--ctech-color-font-primary);
  font-size: 16px;
}
.ctech-txt-left {
  text-align: left;
}

@media (min-width: 576px) {
  .ctech-section-title {
    text-align: left;
    font-size: 24px;
  }
}

/* ================================================================ */
/*                      Header Styles                               */

header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.ctech-header-client {
  background-color: var(--ctech-color-bg-secondary);
  color: var(--ctech-color-font-primary);
}
.ctech-header-admin {
  background-color: var(--ctech-color-bg-quaternary);
  color: var(--ctech-color-font-tertiary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 16px;
  font-weight: 700;
}
nav a {
  font-size: 14px;
  font-weight: 700;
}
.ctech-navbar-rigth {
  display: flex;
  align-items: center;
}
.ctech-menu-items-container {
  display: flex;
}
.ctech-menu-items-container img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.ctech-menu-item {
  margin-right: 20px;
  display: flex;
}

.ctech-menu-item p {
  display: none;
  margin-left: 5px;
  font-size: 14px;
}
.ctech-menu-item-active {
  font-weight: 700;
}

.ctech-logged-user p {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 576px) {
  nav h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .ctech-menu-item p {
    display: unset;
  }
}
/* ================================================================ */
/*                   Card Styles                                    */

.ctech-card {
  border: 1px solid var(--ctech-color-card-border);
  background-color: var(--ctech-color-card-bg);
  border-radius: 4px;
}

.ctech-line-bootom {
  border-bottom: 2px var(--ctech-color-card-border);
}

/* ================================================================ */
/*                  Button Styles                                   */
.ctech-btn-page-container {
  width: 100%;
}
@media (min-width: 576px) {
  .ctech-btn-page-container {
    width: 220px;
  }
}

.ctech-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctech-btn-blue {
  background-color: var(--ctech-color-btn-primary);
  color: var(--ctech-color-btn-inverse);
  border: none;
}
.ctech-btn-white {
  background-color: var(--ctech-color-btn-inverse);
  color: var(--ctech-color-btn-primary);
  border-radius: 1px solid var(--ctech-color-btn-primary);
}
.ctech-btn-next-page {
  padding: 10px;
  border-radius: 4px;
  color: var(--ctech-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1px solid var(--ctech-color-btn-primary);
  background-color: var(--ctech-color-btn-inverse);
}

/* ============================================================================ */
/*                      Search Bar Styles                                       */
.ctech-search-bar {
  height: 40px;
  display: flex;
  color: var(--ctech-color-font-primary);
}
.ctech-search-bar button,
.ctech-search-bar input {
  border: var(--ctech-color-card-border #d9d9d9);
}
.ctech-search-bar input {
  width: calc(
    100% - 80px
  ); /* calculo para ajuste da Search Bar de seu espaço de 100% - 80 pixels para ajuste dos incones */
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: var(--ctech-color-font-primary);
}
.ctech-search-bar input:focus {
  outline: none; /* Comando para remoção das bordas da barra de Search ao ser selecionada */
}
.ctech-search-bar input::placeholder {
  color: var(--ctech-color-font-placeholder);
}
.ctech-search-bar button {
  width: 40px;
  color: var(--ctech-color-font-primary);
}
/*Remoção da borda direta do botão de Search da barra*/
.ctech-search-bar button[type="submit"] {
  border-right: none;
  border-radius: 8px 0 0 8px;
}
/*Remoção da borda esquerda do botão de cancelar X, da barra*/
.ctech-search-bar button[type="reset"] {
  border-left: none;
  border-radius: 0 8px 8px 0;
}

/* ============================================================================ */
/*                            Form Styles                                       */
.ctech-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.ctech-form h2 {
  font-size: 16px;
  color: var(--ctech-color-font-primary);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.ctech-form-controls-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
}
.ctech-form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  color: var(--ctech-color-font-primary);
  border-radius: 4px;
  border: 1px solid var(--ctech-color-bg-primary);
}
.ctech-form-control:focus {
  outline: none; /* Comando para remoção das bordas da barra de Search ao ser selecionada */
}
.ctech-form-control::placeholder {
  color: var(--ctech-color-font-placeholder);
}
.ctech-input-error {
  border: 1px solid var(--ctech-color-error);
}
.ctech-form-error {
  color: var(--ctech-color-error);
  font-size: 12px;
  padding-left: 4px;
}

/* ============================================================================ */
/*                            Product-form Styles                               */
.ctech-select:invalid {
  color: var(--ctech-color-font-placeholder);
}
.ctech-select option[disabled] {
  display: none;
}
.ctech-select option {
  color: var(--ctech-color-font-primary);
}
.ctech-textarea {
  resize: none; /* Desabilita a expansão do textarea*/
  height: 128px;
  padding-top: 10px;
}

/* ============================================================================ */
/*                             Table Styles                                     */

.ctech-table {
  width: 100%;
  border-spacing: 0; /* Remove a bordar na tabela */
  border-collapse: collapse; /* Faz aparecer a linda da tabela */
}

.ctech-table thead {
  height: 55px;
  font-size: 14px;
  background-color: var(--ctech-color-card-bg);
  color: var(--ctech-color-font-primary);
}
.ctech-table tbody {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--ctech-color-card-bg);
  color: var(--ctech-color-font-primary);
}

.ctech-table tbody tr {
  height: 70px;
  border-top: 1px solid var(--ctech-color-card-border);
}

.ctech-table td:nth-child(2) {
  /* Este comando seleciona a opção td mas fixando no segundo td da lista*/
  padding-left: 10px;
}

.ctech-table th:nth-child(2) {
  /* Este comando seleciona a opção th mas fixando no segundo th da lista, adicionando uma borda*/
  border-top-left-radius: 10px;
}

.ctech-table th:last-child {
  /* Este comando seleciona o ultimo th da lista, adicionando uma borda*/
  border-top-right-radius: 10px;
}

.ctech-table td:last-child {
  /* Este comando seleciona a opção td mas fixando no ultimo td da lista*/
  padding-right: 5px;
}

.ctech-tb576 {
  /* Não irá permiti a visualização do ID e do Nome quando for Mobile*/
  display: none;
}
.ctech-tb768 {
  display: none;
}

/*                             Media Mobile                                */
@media (min-width: 576px) {
  .ctech-tb576 {
    /* Não irá permiti a visualização do ID e do Nome quando for Mobile*/
    display: table-cell;
  }

  .ctech-table th:nth-child(1) {
    /* Este comando seleciona a opção td mas fixando no primeiro th da lista*/
    padding-left: 10px;
  }

  .ctech-table td:nth-child(1) {
    /* Este comando seleciona a opção td mas fixando no primeiro td da lista*/
    padding-left: 20px;
  }

  .ctech-table td:nth-child(2) {
    /* Este comando seleciona a opção td mas fixando no segundo td da lista*/
    padding-left: 0px;
  }

  .ctech-table th:nth-child(2) {
    /* Este comando seleciona a opção th mas fixando no segundo th da lista, adicionando uma borda*/
    border-top-left-radius: 0px;
  }

  .ctech-table th:last-child {
    /* Este comando seleciona o ultimo th da lista, adicionando uma borda*/
    border-top-right-radius: 0px;
  }
}

/*                          Media tablet                               */
@media (min-width: 768px) {
  .ctech-tb768 {
    /* Não irá permiti a visualização do ID e do Nome quando for Mobile*/
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .ctech-table tbody {
    font-size: 16px;
  }
}
